.borderRadius {
    border-radius: 25px !important;
    font-weight: 600 !important;
    line-height: 1.5714285714285714 !important;
    font-size: 0.875rem !important;
    font-family: Public Sans,sans-serif !important;
    opacity: 0.72 !important;
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1) !important; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
    margin-bottom: 10px !important;
}

.number{
    font-weight: 800 !important;
    font-size: 45px !important;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif !important;
    /* opacity: 0.72 !important; */
}

.containerPadding{
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 25px !important;
}
